{% extends 'layout.html' %}
{% block headline %}
  {{ school.SCHOOLNAME.title() }}
{% endblock %}
{% block subhead %}
  {{ school.ADDRESS.title() }}, {{ school.city.title() }}
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <p><strong>School type:</strong> {{ school.SCH_TYPE }}</p>
      <p></p>
      <p></p>        
    </div>
    <div class="col">
      <div id='map' style='width: 100%; height: 300px;'></div>
    </div>
  </div>
</div>
<script>
  mapboxgl.accessToken = 'pk.eyJ1Ijoic2ZvcnRzb24iLCJhIjoiY2pvZzJwMnp6MGFyczN2cGphbjBrNGV3NCJ9.X6EVSy5ipogfXTf9DxxjmQ';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/light-v10',
    center: [`{{ school.returned_address }}`, `{{ school.longitude }}`],
    zoom: 9
  });
  map.on('load', function() {
    var geojsonData = {
      "type": "FeatureCollection",
      "features": [{
        "type": "Feature",
        "geometry": {
          "type": "Point",
          // DB is a little screwy
          "coordinates": [`{{ school.returned_address }}`, `{{ school.longitude }}`]
        }
      }]
    };
    map.addLayer({
      "id": "points",
      "type": "circle",
      "source": {
        "type": "geojson",
        "data": geojsonData
      },
      "paint": {
        "circle-radius": 5,
        "circle-color": "#ECCB2F",
        "circle-stroke-width": 1,
        "circle-stroke-color": "black"
      }
    })
  })
</script>
{% endblock %}